<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-7">IBAN: [[IBAN]] </h2>
      <h2 class="col-md-7"> con saldo [[balance]] </h2>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value={{age::input}} max="700"/>
</div> -->
<!--    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>  -->

    <h1> Sus cuentas </h1>
    <template is="dom-repeat" items="{{accounts}}">
      <h3> IBAN - {{item.IBAN}}</h3>
      <h3> Saldo - {{item.balance}}</h3>
     </br>
   </template>

    <iron-ajax
      auto =""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },IBAN: {
            type: String
          }, balance : {
            type: Number
          }, currency : {
            type: String
          }, accounts : {
            type: Array
          }
        };
      }

      showData (data) {
        console.log("Recibimos datos de la cuenta");
        console.log(data.detail.response);
        console.log(data.detail);
//        console.log(data.detail.response.userid);
//        console.log(data.detail.response.IBAN);
//        console.log(data.detail.response.balance);
//        console.log(data.detail.response.currency);

          this.accounts = data.detail.response;
  //        this.IBAN = data.detail.response.IBAN;
  //        this.balance = data.detail.response.balance;
  //        this.currency = data.detail.response.currency;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
