<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-12">Logout Usuario</h1>
    </div>
    <input type="id" placeholder="id usuario" value="{{id::input}}">

    <button class="btn btn-success" on-click="logout">Logout</button>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="manageAJAXResponse">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
           id : {
            type: Number
          }
        };
      }

      logout ()  {
          console.log("El usuario ha pulsado el botón logout");

          var logoutData = {
             "id" : this.id
          };

          this.$.doLogout.body = JSON.stringify(logoutData);
          this.$.doLogout.generateRequest();
          console.log("Petición enviada");
      }

      manageAJAXResponse (data) {
          console.log("Recibida respuesta del servidor");
          console.log(data.detail.response);
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
